{% extends 'includes/base.html' %}
{% load mathfilters %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Orders</h3>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Gano price</th>
                <th>Date</th>
                <!--<th>Update</th>
                <th>Delete</th>-->
              </tr>
            </thead>
            <tbody>
                {% for order in orderProduct %}
                    <tr>
                      <td>{{ order.product }}</td>
                      <td>{{ order.quantity }}</td>                      
                      <td>{{ order.price|intcomma }} so'm</td>
                      <td>{{ order.bonus }}</td>
                      <td>{{ order.date|date:'d.m.Y'}}</td>
                      <!--<td><a href="{% url 'update_order' order.id %}"><i class="fas fa-pen"></i></a></td>
                      <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>-->
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Payment</h3>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Cash</th>
                <th>Plastic</th>
                <th>Bonus</th>
                <th>Date</th>
                <!--<th>Update</th>
                <th>Delete</th>-->
              </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                    <tr>
                      <td>{{ payment.cash|intcomma }}</td>
                      <td>{{ payment.plastic|intcomma }}</td>                      
                      <td>{{ payment.bonus }}</td>
                      <td>{{ order.date|date:'d.m.Y'}}</td>
                      <!--<td><a href="{% url 'update_order' order.id %}"><i class="fas fa-pen"></i></a></td>
                      <td><a href="#"><i class="fas fa-trash-alt"></i></a></td>-->
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div><a href="{% url 'add_product' order.id %}" class="btn btn-primary"><i class="fas fa-plus fa-xs"></i> Add</a></div>
{% endblock content %}