{% extends 'includes/base.html' %}
{% load humanize %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="container p-4 card">
            <h3>Buy back</h3>  
            <form aciton="." method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Product</label>
                    <select class="form-control" id="product" name='product'>
                        {% for product in products %}
                        <option value='{{product.id}}'>{{ product.name }} - {{ product.cost|intcomma }} so'm</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Quantity</label>
                    <input type="number" class="form-control" name="quantity" placeholder="0" min="1">
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary">
                    <a href="{% url 'products' %}" class="btn btn-light">See all</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container p-4 card">
            <h3>Packs</h3>  
            <form aciton="." method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Packs</label>
                    <select class="form-control" id="pack" name='pack'>
                        {% for one_pack in pack %}
                        <option value='{{one_pack.id}}'>{{ one_pack.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Quantity</label>
                    <input type="number" class="form-control" name="quantity" placeholder="0" min="1">
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary">
                    <a href="{% url 'packages' %}" class="btn btn-light">See all</a>
                </div>
            </form>
        </div>
    </div>        
</div>

<div>
    <a href="{% url 'client_detail' client.id %}" class="btn btn-primary"><i class="fas fa-chevron-circle-left fa-xs"></i> Back</a>
</div>


{% endblock content %}