{% extends 'includes/base.html' %}

{% block content %}

{% for message in messages %}
  <div class="alert alert-success">
    {{ message }}
  </div>
{% endfor %}

<h3>Profile</h3>

<p>Hello, {{ user.first_name }}</p>

{% if warehouse_count == 0 %}
  <div class="alert alert-info">You do not have a warehouse. <a href="create-warehouse"><u>Create warehouse</u></a></div>
{% elif warehouse_count == 1 %}
  <a href="warehouse">My Warehouse</a>
{% endif %}
<a href="#">Change password</a>
<br>
<a href="logout">Sign out</a>


{% endblock content %}