{% extends 'includes/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% for message in messages %}
  <div class="alert alert-primary">
      {{ message }}
  </div>
{% endfor %}

<div class="container p-4 card">
  <div class="col">
      <h3>Create Dashboard</h3>
      <form action="{% url 'create_warehouse' %}" method="POST">
          <p class="text-muted">Press button below to create new dashboard</p>
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success"><i class="fas fa-plus fa-ms"></i> Create</button>
      </form>
  </div>
</div>

{% endblock content %}