{% extends 'includes/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container p-4 card">
    <div class="col-md-6">
        <h3>Delete Resource</h3>
        <p>Are you sure delete this resource:  <span class="text-primary font-weight-bold">x{{ resource.quantity }} {{ resource.product }}</span></p>
        <form action="." method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn btn-danger">
            <a href="{% url 'all_resources' %}">Back</a>
        </form>
    </div>
</div>

{% endblock %}