{% extends 'includes/base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Resources</h3>
        </div>
        <div class="card-body table-responsive p-0">
          {% if resources %}
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>#</th>
                <th>Product</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Update</th>
                <!--<th>Remove</th>-->
              </tr>
            </thead>
            <tbody>
                {% for resource in resources %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ resource.product }}</td>
                        <td>{{ resource.quantity }}</td>
                        <td>{{ resource.date|date:'d.m.Y' }}</td>
                        <td><a href="{% url 'update_resource' resource.id %}"><i class="fas fa-pen"></i></a></td>
                        <!--<td><a class="btn btn-sm btn-danger" href="#">Remove</a></td>-->
                    </tr>
                {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p class="text-secondary text-center">No resources</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

<a href="{% url 'create_resource' %}" class="btn btn-success"><i class="fas fa-plus fa-xs"></i> Add resourse</a>


{% endblock content %}