{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-1">
    <a class="navbar-brand" href="{% url 'dashboard' %}">Accounting system</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if request.user.is_staff %}
            <li class="nav-item active">
                <!-- For Admin -->
                <a class="nav-link" href="{% url 'dashboard' %}">Admin</a>
            </li>
            {% endif %} {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>

</nav>