{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-1">
    <a class="navbar-brand" href="/">Accounting system</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'profile' %}">Profile {{ request.user }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}">Sign in</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'registration' %}">Registration</a>
        </li>
        {% endif %}
      </ul>
    </div>
    
</nav>