{% extends 'includes/base.html' %}
{% load mathfilters %}
{% load humanize %}
{% block content %}

{% for message in messages %}
  <div class="alert alert-success">{{ message }}</div>
{% endfor %}

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div><b>Product:</b> {{ order.product }}</div>
        <div><b>Quantity:</b> {{ order.quantity }}</div>
        <div><b>Details:</b> {{ order.detail }}</div>
        <div><b>Date:</b> {{ order.date|date:'H:i, d.m.Y' }}</div>
        <div><b>Total price:</b> {{ order.price|intcomma }} so'm</div>
        <div>
          <b>Status:</b> 
          {% if status == 'Not paid' %} <span class="text-danger font-weight-bold">{{ status }}</span>  ({{ difference|intcomma }} so'm)
          {% elif status == 'Paid' %} <span class="text-success font-weight-bold">{{ status }}</span>
          {% elif status == 'Over paid' %} <span class="text-info font-weight-bold">{{ status }}</span> (+{{ difference|intcomma }} so'm)
          {% endif %}
        </div>
      </div>
      {% if payments %}
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Product</th>
              <th>Type</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Action</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for payment in payments %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ payment.order }}</td>
              <td>{{ payment.payment }}</td>
              <td>{{ payment.money|intcomma }}</td>
              <td>{{ payment.date|date:'H:i, d.m.Y' }}</td>
              <td><a href="{% url 'update_payment' payment.id %}"><i class="fas fa-pen"></i></a></td>
              <td><a href="{% url 'delete_payment' payment.id %}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="text-secondary text-center m-2">No purchases</div>
      {% endif %}
      {% if total_paid > 0 %}
      <div class="card-header">
        <b>Total paid:</b> {{ total_paid|intcomma }} so'm
      </div>
      {% endif %}
      <div class="m-3">
        <a href="{% url 'create_payment' order.id %}" class="btn btn-primary"><i class="fas fa-dollar-sign fa-xs"></i> Add payment</a>
        <a href="{% url 'client_detail' order.client.id %}" class="btn btn-light"><i class="fas fa-chevron-circle-left fa-xs"></i> Back</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}