{% extends 'includes/base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Clients</h3>

          <div class="card-tools">
            <div id="example1_filter" class="dataTables_filter">
              <form method="GET">
                {{ myFilter.form }}
                  <button type="submit" class="btn btn-default btn-sm"><i class="fas fa-search"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Number</th>
              </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'client_detail' client.id %}">{{ client.name }}</a></td>
                        <td>{{ client.number }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<a href="{% url 'create_client' %}" class="btn btn-success"><i class="fas fa-plus fa-xs"></i> New client</a>


{% endblock content %}