{% extends 'includes/base.html' %}

{% load static %}

{% block content %}

<h3>Clients</h3>

<table class="table table-bordered table-hover table-responsive-sm">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Number</th>
            <th>Registration</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{client.name}}</td>
            <td>{{client.number}}</td>
            <td>{{client.date|date:'d.m.Y'}}</td>
            <td><a class="btn btn-sm btn-info" href="{% url 'update_client' client.id %}">Update</a></td>
            <td><a class="btn btn-sm btn-danger" href="{% url 'delete_client' client.id %}">Remove</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<b>Total - {{ client_count }}</b> | <a href="{% url 'new_client' %}">Add new client</a>


{% endblock content %}