{% extends 'includes/base.html' %}

{% block content %}

<div>
    Cash: {{ cash }} UZS
</div>
<div>
    Terminal: {{ terminal }} UZS
</div>
<div>
    Bonus: {{ bonus }}
</div>

<div class="row mt-3">
    <div class="col-md-4">
        <div class="card text-center mb-3">
            <div class="card-header">
                <div class="card-title">Orders</div>
            </div>
            <div class="card-body">
                <h3 class="card-title">?</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center mb-3">
            <div class="card-header">
                <div class="card-title">Customers</div>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ total_clients }}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center mb-3">
            <div class="card-header">
                <div class="card-title">Payments</div>
            </div>
            <div class="card-body">
                <h3 class="card-title">?</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h5>Clients</h5>
        <div class="card card-body">
            <table class="table table-sm table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Number</th>
                </tr>

                {% for client in clients %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'update_client' client.id %}">{{ client.name }}</a></td>
                    <td>{{ client.number }}</td>
                </tr>
                {% endfor %}
            </table>
            <a href="{% url 'create_client' %}" class="btn btn-primary btn-sm btn-block">Create client</a>
            <a href="{% url 'clients' %}" class="btn btn-primary btn-sm btn-block">All</a>
        </div>
    </div>
    <div class="col-md-7">
        <h5>Orders</h5>
        <div class="card card-body">
            <table class="table table-sm table-bordered table-hover">
                <tr>
                    <th>Client</th>
                    <th>Product</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{ order.client }}</td>
                    <td>{{ order.quantity }} x {{ order.product }}</td>
                    <td><a href="" class="btn btn-sm btn-info">Update</a></td>
                    <td><a href="" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            <a href="{% url 'create_order' %}" class="btn btn-primary btn-sm btn-block">Create order</a>
        </div>
    </div>
</div>


{% endblock content %}