{% extends 'includes/base.html' %} {% block content %} 

{% for message in messages %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

<div class="row">
    <div class="col-md-4">
        <div class="card text-center mb-3">
            <div class="card-header">
                <div class="card-title">Order</div>
            </div>
            <div class="card-body">
                <h3 class="card-title">0</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center mb-3">
            <div class="card-header">
                <div class="card-title">Customer</div>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ total_clients }}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center mb-3">
            <div class="card-header">
                <div class="card-title">Payment</div>
            </div>
            <div class="card-body">
                <h3 class="card-title">0</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h5>Clients</h5>
        <div class="card card-body">
            <table class="table table-sm table-bordered table-hover">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Number</th>
                </tr>

                {% for client in clients %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.number }}</td>
                </tr>
                {% endfor %}
            </table>
            <a href="{% url 'create_client' %}" class="btn btn-primary btn-sm btn-block">Create client</a>
            <a href="{% url 'all_clients' %}" class="btn btn-primary btn-sm btn-block">All</a>
        </div>
    </div>
    <div class="col-md-7">
        <h5>Orders</h5>
        <div class="card card-body">
            <table class="table table-sm table-bordered table-hover">
                <tr>
                    <th>Client</th>
                    <th>Product</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{ order.client }}</td>
                    <td>{{ order.quantity }} x {{ order.product }}</td>
                </tr>
                {% endfor %}
            </table>
            <a href="{% url 'create_order' %}" class="btn btn-primary btn-sm btn-block">Create order</a>
            <a href="{% url 'all_orders' %}" class="btn btn-primary btn-sm btn-block">All</a>
        </div>
    </div>
</div>


{% endblock content %}